# 신장 의무기록사본

### 1. 라이브러리 로드

In [2]:
import pandas as pd
import numpy as np
from glob import glob

### 2. 데이터 로드

In [3]:
data = pd.read_excel('D:/05.Kidney/data/개별데이터/2013-03-11.xlsx')
column_name = list(data.columns)
df = pd.DataFrame(columns= column_name)

data_lst = glob('D:/05.Kidney/data/개별데이터/*.xlsx')

for i in data_lst:
    #print(i)
    dat = pd.read_excel(i)
    df = pd.concat([df, dat])

In [4]:
df.head()

,번호,검사명,결과,상태,최저참고치,최고참고치,단위,검체검사결과,검체번호,검체,의뢰의사,검사자,의뢰일,접수일,결과보고일,병원명,등록번호,성명,성별/나이
0,1,WBC,7.5,NaN,4,10,*10^3/ul,일반혈액,13031159295,Blood(EDTA),이가희,김미옥,2013-03-11,2013-03-11,2013-03-11,서울특별시보라매병원,1182932,왕수림,남 / 28
1,2,RBC,4.51,NaN,4.2,6.3,*10^6/ul,일반혈액,13031159295,Blood(EDTA),이가희,김미옥,2013-03-11,2013-03-11,2013-03-11,서울특별시보라매병원,1182932,왕수림,남 / 28
2,3,Hb,13.1,NaN,13,17,g/dL,일반혈액,13031159295,Blood(EDTA),이가희,김미옥,2013-03-11,2013-03-11,2013-03-11,서울특별시보라매병원,1182932,왕수림,남 / 28
3,4,Hct,39.6,NaN,39,52,%,일반혈액,13031159295,Blood(EDTA),이가희,김미옥,2013-03-11,2013-03-11,2013-03-11,서울특별시보라매병원,1182932,왕수림,남 / 28
4,5,MCV,87.8,NaN,81,96,fL,일반혈액,13031159295,Blood(EDTA),이가희,김미옥,2013-03-11,2013-03-11,2013-03-11,서울특별시보라매병원,1182932,왕수림,남 / 28